html{
  margin: 0px;
	padding: 0px;
}
body{
  background-color: #373b41;
  font-family: 'Roboto Mono', monospace;
  font-weight: 100;
  color: #abb2bf;
  margin: 0px;
  padding: 0px;
}

a{
  text-decoration: none;
  color: #abb2bf
}
a:hover{
  color: #52F94C;
}

/**HEADER**/

header{
  width: 100%;
  background-color: #2a2e33;
  height: 75vh;
  border-style: solid;
  border-color: #1E2126;
  margin: 0;
  padding: 0;
}
 
.btn {
  background-color: rgb(175, 174, 174); 
  border: none;
  color: white;
  padding: 5px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}
.btn:hover{
  background-color: #ffb7bd;
}
.switch{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
#horloge{
  text-align: center;
  padding-top: 0%;
}

h1{
  text-align: center;
  font-size: 3.7em;
  font-weight: 400;
  margin-top: 0;
  padding-top: 1.5em;
}
h2{
  text-align: center;
  padding-top:1.8vh;
  font-size: 2.8em;
  font-weight: 400;
  color: #e06c75;
}

/**PRESENTATION**/

.presentation p{
  width:45%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 0.9em;
  padding-top: 0.8em;
}
hr{
  width:45%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #abb2bf;
  size: 1px;
}

/** SECTIONS **/

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h4{
  color: #56b6c2;
  font-size: 2.5em;
}

.lang{
  color: #e06c75;
}
.etoiles{
  color:#e06c75;
}

/**COMPETENCES**/

.competences h4{
  text-align: center;
  padding-top: 2em;
  font-size: 3.2em;
}
.container{
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  font-size: 2em;
  line-height: 1.5em;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 1em;
  padding-bottom: 2em
}
.comp{
  grid-column: 1;
  text-align: right;
  padding-right: 0.8em;
}
.star{
  grid-column: 2;
  text-align: left;
  color: rgb(83, 89, 99);
}

/**FORMATION - EXPERIENCES**/

.formation h4{
  font-size: 2.5em;
  text-align: right;
}
.jobs{
  color: #d19a66;
}
.diplomes{
  color: #52F94C;
}
.container2{
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: 42% 16% 42%;
}
.formation{
  text-align: right;
  grid-column: 1;
  font-size: 1.5em;
}
.experiences{
  padding-top: 0.3;
  grid-column: 3;
  font-size: 1.5em;
}
.trait{
  padding-top:4em;
  font-size:2.2em;
  text-align: center;
  grid-column: 2;
  color: #abb2bf;
}

/**LANGUES**/

.langues h4{
  font-size: 3em;
}
.langues{
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 2em;
}
.langues ul{
  padding-bottom: 0.9em;
  font-size: 2em;
}

/**FOOTER**/

footer{
  background-color: #2a2e33;
  border-style: solid;
  border-color: #1E2126;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-align: center;
  font-size: 1.2em;
}

/** TO TOP **/

#scroll_to_top { 
  position: fixed; 
  width: 45px; 
  height: 45px; 
  bottom: 50px; 
  right: 30px; 
} 
#scroll_to_top img { 
  width: 55px; 
}

/** Modif selon l'heure**/

.vert{
    background-color: #98fb98;
}
.jaune{
    background-color: #ffebcd;
}
.rose{
    background-color: #FFF3FA;
}
.bleu{
    background-color: #b0e0e6;
}
.bleufonce{
    background-color: #000080;
}

/**Media Queries**/

@media screen and (max-width: 375px) {
  header{
    height: 20vh;
  }

  .trait{
  padding-top:4em;
  font-size:4em;
  text-align: center;
  grid-column: 2;
  color: #abb2bf;
}
}