body{
  background-color: #282c34;
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-weight: 100;
  color: #abb2bf;
}

a{
  text-decoration: none;
  color: #abb2bf
}
a:hover{
  color: #52F94C;
}

/**HEADER**/

header{
  width: 100%;
  background-color: #21252b;
  height: 75vh;
  border-style: solid;
  border-color: #1E2126;
  margin: 0;
  padding: 0;
}

h1{
  text-align: center;
  font-size: 3.7em;
  font-weight: 400;
  margin-top: 0;
  padding-top: 2.8em;
}
h2{
  text-align: center;
  padding-top:1.8vh;
  font-size: 2.8em;
  font-weight: 400;
  color: #e06c75;

}

/**presentation**/

.presentation p{
  width:45%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 0.9em;
  padding-top: 0.8em;
}
hr{
  width:45%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #abb2bf;
  size: 1px;
}

/** Sections **/

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h4{
  color: #56b6c2;
  font-size: 2.5em;
}
.diplomes{
  color: #d19a66;
}
.jobs{
  color: #52F94C;
}
.lang{
  color: #e06c75;
}
.etoiles{
  color:#e06c75;
}


/**compétences**/

.competences h4{
  text-align: center;
  padding-top: 2em;
  font-size: 3.2em;
}
.container{
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  font-size: 2em;
  line-height: 1.5em;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 1em;
  padding-bottom: 2em
}
.comp{
  grid-column: 1;
  text-align: right;
}
.star{
  grid-column: 2;
  text-align: left;
}

/**formation - experiences**/

.formation h4{
  font-size: 2.5em;
}
.container2{
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: 42% 16% 42%;
}
.formation{
  text-align: right;
  grid-column: 1;
  font-size: 1.5em;
}
.experiences{
  padding-top: 0.3;
  grid-column: 3;
  font-size: 1.5em;
}

/**langues**/

.langues h4{
  font-size: 3em;
}
.langues{
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 2em;
}
.langues ul{
  padding-bottom: 0.9em;
  font-size: 2em;
}

footer{
  background-color: #21252b;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-align: center;
  font-size: 1.5em;
}
