html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #373b41;
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  font-weight: 100;
  color: #abb2bf;
}

a{
  text-decoration: none;
  color: #abb2bf
}
a:hover{
  color: #d19a66;
}

/**HEADER**/

header{
  width: 100%;
  height: 30%;
  background-image: url(img/keyboard.jpg);
  background-size: cover;
  border: solid 1px #1E2126;
  margin: 0%;
  padding: 0%;
}
h1{
  text-align: center;
  font-size: 3.9rem;
  font-weight: 400;
  margin-top: 0;
  padding-top: 1.2em;
}
h2{
  text-align: center;
  padding-top:1.5vh;
  font-size: 2.8rem;
  font-weight: 400;
  color: #e06c75;
}
nav ul{
  display: flex;
  width:100%;
  flex-wrap: wrap;
  justify-content: space-around; 
  padding-top: 5.5vh;
  background-color: rgba(0, 0, 0, 0.39);
}
nav .ul > * {
    width:calc(100% / 4);
    min-width:100px;
}

#horloge{
  color: transparent;
  text-align: center;
  padding-top: 0%;
}


/**SECTIONS**/

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h4{
  color: #56b6c2;
  font-size: 2.2em;
}
.langue{
  color: #e06c75;
}

/**PRESENTATION**/

.presentation p{
  width:45%;
  margin: 3em auto;
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 0.9em;
  padding-top: 0.8em;
  border-top: solid 1px rgb(197, 197, 197);
  border-bottom: solid 1px rgb(197, 197, 197);
}

/**COMPETENCES**/

.competences h4{
  text-align: center;
  padding-top: 1em;
  font-size: 3.2em;
}
.container{
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.5em;
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
  padding-bottom: 2em
}
.comp{
  width: 25%;
  text-align: right;

}
.comp2{
width: 25%;
text-align: left;
}
.etoiles{
  color:#e06c75;
  display: inline;
  grid-column: 1;
}
.etoiles2{
  grid-column: 2;
  display: inline;
  color: rgb(83, 89, 99);
}

/**FORMATION - EXPERIENCES**/

.formation h4{
  font-size: 2.5em;
  text-align: right;
}
.jobs{
  color: #d19a66;
}
.diplomes{
  color: #52F94C;
}
.container2{
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: 42% 16% 42%;
}
.formation{
  text-align: right;
  grid-column: 1;
  font-size: 1.5em;
}
.experiences{
  padding-top: 0.3;
  grid-column: 3;
  font-size: 1.5em;
}
.trait{
  padding-top:4em;
  font-size:2.2em;
  text-align: center;
  grid-column: 2;
  color: #abb2bf;
}

/** REALISATIONS **/

.realisations h4{
  text-align: center;
  font-size: 3.2em;
}

/**LANGUES**/

.langues h4{
  font-size: 3em;
}
.langues{
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 2em;
}
.langues ul{
  padding-bottom: 0.9em;
  font-size: 2em;
}


/**FOOTER**/

footer{
  background-color: #2a2e33;
  border-style: solid;
  border-color: #1E2126;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-align: center;
  font-size: 1.2em;
}

/** TO TOP **/

#scroll_to_top { 
  position: fixed; 
  width: 45px; 
  height: 45px; 
  /*bottom: 50px; 
  right: 30px;*/ 
} 
#scroll_to_top img { 
  width: 55px; 
}

/**MEDIA QUERIES**/

@media screen and (min-width: 500px) {
  header{
    height: 60%;
  }

  .trait{
  padding-top:4em;
  font-size:4em;
  text-align: center;
  grid-column: 2;
  color: #abb2bf;
  }
}