html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #1e1f20;
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  font-weight: 100;
  color: #ccd0d8;
}

a{
  text-decoration: none;
  color: white;
}
a:hover{
  color: #d19a66;
}

/**HEADER**/

header{
  height: 97vh;
  background-image: url(../img/keyboard2.jpg);
  background-size: cover;
  border: solid 1px #1E2126;
  margin: 0;
  padding: 0;
  position: relative;
}
.titres{
  height: 79vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1{
  text-align: center;
  font-size: 3.9rem;
  font-weight: 400;
}
h2{
  margin:0;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 400;
  color: #e06c75;
}
nav{
  height: 36px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 99;
  padding-top: 8px;
  background-color: #151618;
  border: solid 1px #1E2126;
  font-size: 1.3em;
}
nav ul{
  display: flex;
  width:100%;
  flex-wrap: wrap;
  justify-content: space-around; 
}
nav .ul > * {
  width:calc(100% / 4);
  min-width:100px;
}
.sticky {
  position: fixed;
  top: 0;
}

/**SECTIONS**/

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h4{
  color: #56b6c2;
  font-size: 2.2em;
}
.langue{
  color: #e06c75;
}

/**PRESENTATION**/

.presentation p{
  width: 35%;
  margin: 6em auto;
  text-align: center;
  padding: 1em 30px;
  border-top: solid 23px rgba(197, 197, 197, 0.068);
  border-bottom: solid 23px rgba(197, 197, 197, 0.068);
  font-size: 1.2rem;
  line-height: 38px;
}

/**COMPETENCES**/

.competences h4{
  text-align: center;
  font-size: 3.2em;
}
.container{
  width: 680px;
  height: 700px;
  padding: 30px 0;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}
.comp{
  width: calc(680px/2);
  padding:20px;
  text-align: right;
  font-size: 2em;
  border-right: 0px;
  line-height: 56px;
}
.comp2{
  width: calc(680px/2);
  padding: 29px;
  font-size: 1.1em;
  text-align: left;
  line-height: 62px;
}

/**FORMATION - EXPERIENCES**/

.container2{
  width: 680px;
  height: 760px;
  padding: 30px 0;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}
.container2 h4{
  margin-top: 40px;
}
.formation{
  width: calc(680px/2);
  padding:20px;
  text-align: right;
  font-size: 1.1em;
  border-right: 0px;
}
.experiences{
  width: calc(680px/2);
  padding:20px;
  text-align: left;
  font-size: 1.1em;
}
.container2 span{
  display: block;
  padding-bottom: 5px;
}
.jobs{
  font-size: 1.2em;
  color: #d19a66;
}
.diplomes{
  font-size: 1.2em;
  color: #52F94C;
}

/** REALISATIONS **/

.realisations h4{
  text-align: center;
  font-size: 3.2em;
}

/**LANGUES**/

.langues h4{
  font-size: 3em;
  margin: 0px 0px 40px 0px;;
}
.langues{
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 2em;
}
.langues ul{
  padding-bottom: 0.9em;
  font-size: 2em;
}

/*FORMULAIRES*/
.contact{
  width: 30%;
  margin: 40px auto;
  padding: 18px 20px 35px 20px;
}
.contact h4{
  text-align: center;
  margin:40px;
}
.contact form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact form input{
  height: 30px;
  width: 97%;
  min-width: 200px;
  margin: 10px 0;
  padding: 5px;
  font-family: sans-serif;
}
.contact form label ::placeholder{
  color: rgb(206, 202, 202);
}
.contact textarea{
  width: auto;
  min-width: 200px;
  margin: 10px 0;
  padding: 5px;
  font-family: sans-serif;
}
.contact form button{
  width: 160px;
  margin: 10px auto;
  padding: 10px;
  background-color: #151618;
  font-family: 'Roboto Mono', monospace;
  color: white;
  border: solid 3.5px rgba(228, 219, 219, 0.100);
}
.contact form button:hover{
  cursor: pointer;
}

/**FOOTER**/

footer{
  background-color: #151618;
  border-style: solid;
  border-color: #1E2126;
  padding: 1.5em;
  font-size: 1.2em;
  line-height: 30px;
}
footer ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.col1,.col2,.col3{
  width: calc(100% / 3);
  flex-wrap: wrap;
}
.col1{
  text-align: right;
}
.col2{
  display: flex;
justify-content: center;
}
.col2 li{
  margin: 10px;
}
.col3{
  text-align: left;
}
/** TO TOP **/

#toTop { 
  display:none;
  position: fixed; 
  bottom: 40px; 
  right: 30px;
  cursor: pointer;
} 
#toTop img { 
  width: 35px; 
  height: 35px; }

/**MEDIA QUERIES*

@media screen and (min-width: 500px) {
  header{
    height: 290px;
  }
}*/